.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;

}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}

#title {
    font-size: 28px;
}

#title:hover {
    background-color: black;
    color: white
}

/* h1 {
    background-color: white;
} */